@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Alumni+Sans+Inline+One:ital@0;1&family=Gabarito:wght@400..900&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Animation Classes */

.hidden-slide-in{
    opacity: 0;
    transition: all .2s ease-in;
    transform: translateX(-50px);
    filter: blur(5px);
}
  
.hidden-slide-up{
    opacity: 0;
    transition: all .2s ease-in;
    transform: translateY(50px);
    filter: blur(5px);
}
  
  .show{
    opacity: 1;
    transform: translateX(0px);
    filter: blur(0px);
  }

  .card:nth-child(1){
    transition-delay: .2s;
  }
  .card:nth-child(2){
    transition-delay: .4s;
  }

  .card:nth-child(3){
    transition-delay: .6s;
  }

  .card:nth-child(4){
    transition-delay: .8s;
  }


/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
  }
  
  /* Main container */
  .main-container {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: #DDE6ED;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  /* Content section */
  .content-section {
    margin-top: 12%;
    background-color: #DDE6ED;

    width: 100%;
    height: 100%;
    /* padding: 0% 3%; */
  }
  
  .title {
    color: #526D82;
    font-family: "Impact", sans-serif;
    font-size: clamp(25px, 2wv, 48px);
    letter-spacing: 2.88px;
    margin-bottom: 20px;
    margin-left: 60px;
  }
 
.publications-container{
  width: 96%;
  height: fit-content;
  padding: 2%;
  margin-left: 2%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

}

.publication-card{
  width: 300px;
  height: 100px;
  padding: 5px 25px;
  border-radius: 15px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.file-icon{
  width: 50px;
  height: 50px;
  fill: #526D82;
}

.download-icon{
  width: 30px;
  height: 30px;
  fill: #526D82;
}

.publication-descriptions{
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  color: #526D82;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 20px;
  gap: 5px; 
  margin-left: -20px;
}

.publication-date{
  font-size: 15px;
  font-weight: 200;
}