@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Alumni+Sans+Inline+One:ital@0;1&family=Gabarito:wght@400..900&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Animation Classes */

.hidden-slide-in{
    opacity: 0;
    transition: all .2s ease-in;
    transform: translateX(-50px);
    filter: blur(5px);
}
  
.hidden-slide-up{
    opacity: 0;
    transition: all .2s ease-in;
    transform: translateY(50px);
    filter: blur(5px);
}
  
  .show{
    opacity: 1;
    transform: translateX(0px);
    filter: blur(0px);
  }

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, Roboto, Helvetica, sans-serif;
}

.service-page {
  background-color: rgba(255, 255, 255, 1);
}

.main-content {
  background-color: #DDE6ED;
  display: flex;
  width: 90%;
  height: fit-content;
  padding: 0% 5%;
  flex-direction: column;
  align-items: start;
  font-family:
    Impact,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 20px;
  color: #526D82;
  font-weight: 400;
  letter-spacing: 1.2px;
}

@media (max-width: 991px) {
  .main-content {
    max-width: 100%;
    padding: 89px 20px;
  }
}

.service-title {
  color: #526D82;
  font-size: 48px;
  letter-spacing: 1.92px;
  margin-bottom: 5%;
}

@media (max-width: 991px) {
  .service-title {
    max-width: 100%;
  }
}

.service-image {
  border-radius: 35px;
  background-image: url("../../../Assets/Department2.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  margin-top: 0px;
  margin-left: 50px;
  width: 1200px;
  flex-shrink: 0;
  max-width: 100%;
  height: 500px;
  transition-delay: 200ms;
}

@media (max-width: 991px) {
  .service-image {
    margin-top: 40px;
  }
}

.service-intro {
  width: 1300px;
  margin-top: 29px;
  margin-left: 44px;
}

@media (max-width: 991px) {
  .service-intro {
    max-width: 100%;
  }
}

.service-details {
  width: 1300px;
  margin-top: 18px;
  margin-left: 44px;
  margin-bottom: 50px;
  color: rgba(82, 109, 130, 0.801);
}

@media (max-width: 991px) {
  .service-details {
    max-width: 100%;
  }
}

.section-heading {
    width: 1300px;
    color: #526D82;
  font-size: 24px;
  letter-spacing: 1.44px;
  margin-top: 35px;
  margin-left: 44px;
}

@media (max-width: 991px) {
  .section-heading {
    margin-left: 10px;
  }
}

.key-components {
    width: 1300px;
  line-height: 28px;
  margin-top: 0px;
  margin-left: 58px;
}

@media (max-width: 991px) {
  .key-components {
    max-width: 100%;
  }
}

.benefits-heading {
    width: 1300px;
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  letter-spacing: 1.44px;
  margin-top: 28px;
  margin-left: 58px;
}

@media (max-width: 991px) {
  .benefits-heading {
    margin-left: 10px;
  }
}

.benefits-list {
    width: 1300px;
  line-height: 28px;
  margin-top: 0px;
  margin-left: 72px;
}

@media (max-width: 991px) {
  .benefits-list {
    max-width: 100%;
  }
}