@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Alumni+Sans+Inline+One:ital@0;1&family=Gabarito:wght@400..900&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #DDE6ED;
}

/* Animation Classes */

.hidden-slide-in{
    opacity: 0;
    transition: all .2s ease-in;
    transform: translateX(-50px);
    filter: blur(5px);
}
  
.hidden-slide-up{
    opacity: 0;
    transition: all .2s ease-in;
    transform: translateY(50px);
    filter: blur(5px);
}
  
  .show{
    opacity: 1;
    transform: translateX(0px);
    filter: blur(0px);
  }

.news-section {
    max-width: 80%;
    margin-top: 90px;
    padding: 3% 10%;
    margin-bottom: 50px;
    font-family: "Impact", sans-serif;
    background-color: #DDE6ED;

  }

  @media (max-width: 991px) {
    .news-section {
      padding: 40px 20px;
    }
  }

  @media (max-width: 640px) {
    .news-section {
      padding: 20px;
    }
  }

  .news-header {
    font-size: 48px;
    color: #526d82;
    letter-spacing: 2.88px;
    padding-bottom: 22px;
  }

  @media (max-width: 640px) {
    .news-header {
      font-size: 32px;
      padding-bottom: 16px;
    }
  }

  .main-content {
    display: flex;
    gap: 2%;
  }

  @media (max-width: 991px) {
    .main-content {
      flex-direction: column;
    }
  }

  .featured-news {
    flex: 0 0 60%;
    transition-delay: 200ms;
    cursor: pointer;
  }

  @media (max-width: 991px) {
    .featured-news {
      flex: none;
      width: 100%;
    }
  }

  .featured-image {
    width: 100%;
    height: 75%;
    border-radius: 34px;
    margin-bottom: 3%;
    background-image: url("../../Assets/news4.jpeg");
    background-size: cover;
  }

  @media (max-width: 991px) {
    .featured-image {
      height: 250px;
    }
  }

  @media (max-width: 640px) {
    .featured-image {
      height: 200px;
    }
  }

  .featured-title {
    font-size: 15px;
    font-weight: bold;
    color: #526d82;
    margin-left: 2%;
  }

  .featured-date {
    font-size: 10px;
    color: rgba(82, 109, 130, 0.905);
    letter-spacing: 0.6px;
    margin-bottom: 1%;
    margin-left: 2%;
  }

  .featured-description {
    font-size: 12px;
    color: rgba(82, 109, 130, 0.8);
    line-height: 1.5;
    margin-left: 2%;
  }

  .news-list {
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 5%;
    overflow-y: scroll;
  }

  .news-list::-webkit-scrollbar{
    display: none;
  }

  @media (max-width: 991px) {
    .news-list {
      flex: none;
      width: 100%;
    }
  }

  .news-item {
    display: flex;
    gap: 15px;
    cursor: pointer;
  }

  .news-item:nth-child(1){
    transition-delay: 400ms;
  }

  .news-item:nth-child(2){
    transition-delay: 500ms;
  }

  .news-item:nth-child(3){
    transition-delay: 600ms;
  }

  .news-item:nth-child(4){
    transition-delay: 700ms;
  }

  @media (max-width: 640px) {
    .news-item {
      flex-direction: column;
      gap: 16px;
    }
  }

  .news-thumbnail {
    width: 50%;
    height: 126px;
    border-radius: 25px;
    flex-shrink: 0;
  }

  .news-item:nth-child(1) .news-thumbnail{
    background-image: url("../../Assets/news3.jpeg");
    background-size: cover;
  }

  .news-item:nth-child(2) .news-thumbnail{
    background-image: url("../../Assets/news1.jpeg");
    background-size: cover;
  }

  .news-item:nth-child(3) .news-thumbnail{
    background-image: url("../../Assets/news2.jpeg");
    background-size: cover;
  }

  .news-item:nth-child(4) .news-thumbnail{
    background-image: url("../../Assets/news3.jpeg");
    background-size: cover;
  }

  @media (max-width: 640px) {
    .news-thumbnail {
      width: 100%;
      height: 150px;
    }
  }

  .news-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  }

  @media (max-width: 640px) {
    .news-content {
      padding: 0;
    }
  }

  .news-title {
    font-size: 10px;
    font-weight: bold;
    color: #526d82;
    margin-bottom: 1%;
  }

  .news-description {
    font-size: 10px;
    color: rgba(82, 109, 130, 0.8);
    line-height: 1;
    margin-bottom: 1%;
  }

  .news-date {
    font-size: 10px;
    color: rgba(82, 109, 130, 0.8);
    letter-spacing: 0.6px;
  }