@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Alumni+Sans+Inline+One:ital@0;1&family=Gabarito:wght@400..900&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: sans-serif;
    background-color: #DDE6ED;
}

::-webkit-scrollbar{
  display: none;
}

/* Animation Classes */

.hidden-slide-in{
    opacity: 0;
    transition: all .2s ease-in;
    transform: translateX(-50px);
    filter: blur(5px);
}
  
.hidden-slide-up{
    opacity: 0;
    transition: all .2s ease-in;
    transform: translateY(50px);
    filter: blur(5px);
}
  
  .show{
    opacity: 1;
    transform: translateX(0px);
    filter: blur(0px);
  }

  .main-container{
    position: absolute;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }

  /* Container */

  .container {
    width: 100%;
    margin-top: 90px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    background-color: #DDE6ED;
  }

  .event-header {
    font-family: "Impact", sans-serif;
    font-size: 48px;
    color: #526d82;
    letter-spacing: 2.88px;
    margin: 2% 10%;
    width: 90vw;
  }

  .search-section {
    width: 28%;
    display: flex;
    gap: 20px;
    margin-left: 50px;
    margin-right: 50px;
    transition-delay: 200ms;
  }

  .search-box {
    width: 100%;
    border-radius: 24px;
    padding: 10% 0%;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.25);
    background-color: rgba(82, 109, 130, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10%;
  }

  .date-inputs {
    width: 80%;
    margin-left: 10%;
    display: flex;
    gap: 20px;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .Event{
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .label {
    position: relative;
    color: #fff;
    font-family: "Impact", sans-serif;
    font-size: 15px;
    letter-spacing: 0.9px;
  }

  .date-input {
    width: 130px;
    height: 35px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
  }

  .type-input {
    height: 35px;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    background-color: #fff;
  }

  .search-bar-container {
    width: 80%;
    margin-left: 10%;
  }

  .search-button {
    width: 100%;
    height: 50px;
    background-color: #526D82;
    border: none;
    border-radius: 25px;

    color: #DDE6ED;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: bold;
  }

  .search-section input{
    padding-left: 20px;
  }

  .event-details {
    width: 59%;
    height: 300px;
    border-radius: 38px;
    padding: 1%;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    position: relative;
    background-color: rgba(82, 109, 130, 0.5);
    transition-delay: 400ms;
  }

  .event-card {
    width: 70%;
    height: 270px;
    border-radius: 30px;
    padding: 2%;
    background-color: rgba(82, 109, 130, 0.5);

    color: #DDE6ED;
    font-family: "Impact", sans-serif;
  }

  .event-info {
    padding: 20px 0px;
    color: #dde6ed;
    font-family: "Impact", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 50px;
  }

  .category {
    font-size: 13px;
    letter-spacing: 0.78px;
    margin-bottom: 10px;
  }

  .title {
    font-size: 15px;
    color: #f7f7f7;
    letter-spacing: 0.9px;
    margin-bottom: 10px;
  }

  .date-range {
    font-size: 13px;
    letter-spacing: 0.78px;
  }

  .location {
    font-size: 13px;
    letter-spacing: 0.78px;
  }

  .arrow-container {
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 68px;
    height: 40px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
  }

  .arrow-icon {
    width: 25px;
    height: 20px;
  }

  .event-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 92%;
    height: 300px;
    gap: 20px;
    padding: 4% 4%;
    background-color: #dde6ed;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .event-grid::-webkit-scrollbar{
    display: none;
  }

  .grid-item {
    width: 30%;
    height: 85%;
    border-radius: 38px;
    padding: 1%;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.25);
    background-color: rgba(82, 109, 130, 0.5);
    flex: 0 0 auto;
  }

  .grid-item:nth-child(1){
    transition-delay: 600ms;
  }

  .grid-item:nth-child(2){
    transition-delay: 700ms;
  }

  .grid-item:nth-child(3){
    transition-delay: 800ms;
  }

  .event-thumbnail {
    width: 92%;
    height: 161px;
    padding: 4%;
    color: #f7f7f7;
    font-family: "Impact", sans-serif;
    font-size: 11px;
    letter-spacing: 0.66px;

    border-radius: 35px;
    background-color: rgba(82, 109, 130, 0.5);
  }

  .event-description {
    color: #f7f7f7;
    font-family: "Impact", sans-serif;
    font-size: 12px;
    letter-spacing: 0.72px;
    padding: 2%;
    margin-top: 2%;
  }

  @media (max-width: 991px) {
    .search-section {
      flex-direction: column;
    }

    .search-box {
      width: 100%;
    }

    .event-details {
      width: 100%;
    }

    .event-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 640px) {
    .event-header {
      font-size: 36px;
    }

    .date-inputs {
      flex-direction: column;
    }

    .date-input {
      width: 100%;
    }

    .type-input {
      width: 100%;
    }

    .search-input {
      width: 100%;
    }

    .event-grid {
      grid-template-columns: 1fr;
    }
  }