@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Alumni+Sans+Inline+One:ital@0;1&family=Gabarito:wght@400..900&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Animation Classes */

.hidden-slide-in{
    opacity: 0;
    transition: all .2s ease-in;
    transform: translateX(-50px);
    filter: blur(5px);
}
  
.hidden-slide-up{
    opacity: 0;
    transition: all .2s ease-in;
    transform: translateY(50px);
    filter: blur(5px);
}
  
  .show{
    opacity: 1;
    transform: translateX(0px);
    filter: blur(0px);
  }

  .service-item:nth-child(1){
    transition-delay: 600ms;
  }

  .service-item:nth-child(2){
    transition-delay: 700ms;
  }

  .service-item:nth-child(3){
    transition-delay: 800ms;
  }

  .service-item:nth-child(4){
    transition-delay: 900ms;
  }

  .service-item:nth-child(5){
    transition-delay: 1s;
  }

  .service-item:nth-child(6){
    transition-delay: 1.1s;
  }

/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: -apple-system, Roboto, Helvetica, sans-serif;
    background-color: rgba(255, 255, 255, 1);
  }
  
  /* Services page container */
  .services-page {
    width: 100%;
    background-color: #DDE6ED;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .services-container {
    width: 100%;
    padding: 5% 0%;
    height: fit-content;
    font-family: Impact;
    font-weight: 400;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #DDE6ED;
  }
  
  .services-heading {
    margin-left: 15%;
    color: #27374D;
    font-size: 48px;
    letter-spacing: 2.88px;
    font-weight: 400;
    transition-delay: .2s;
  }
  
  .services-subheading {
    margin-left: 15%;
    margin-bottom: 2%;
    color: #27374D;
    font-size: 16px;
    letter-spacing: 0.96px;
    font-weight: 400;
    transition-delay: .4s;
  }
  
  .services-list {
    width: 60%;
    height: 100%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .service-item {
    background-color: #526D82;
    margin-top: 2%;
    font-size: 20px;
    color: #DDE6ED;
    letter-spacing: 1.2px;
    display: flex;
    width: 100%;
    height: 70px;
    padding-left: 70px;
    gap: 40px 86px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .service-item:hover{
    transition-delay: 0ms;
    scale: 1.01;
  }

  .service-item:active{
    transition-delay: 0ms;
    scale: .95;
  }
  
  .service-description {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    letter-spacing: 1px;
    flex-grow: 1;
    flex-shrink: 1;
    width: 600px;
    flex-basis: auto;
    font-weight: 200;
  }
  
  .read-more-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 109px;
    height: 35px;
    margin-top: 20px;
    margin-left: 150px;
    background-color: #9DB2BF;
    border: none;
    border-radius: 11px;
    cursor: pointer;
  }

  .read-more-button a{
    text-decoration: none;
  }

  .read-more-button:active {
    scale: 0.95;
  }
  
  .readmore-text {
    width: 65px;
    font-family: "Roboto";
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0.72px;
    line-height: normal;
  }
  
 .navigate-icon-container {
    width: 26px;
    height: 26px;
    top: 4px;
    left: 76px;
    background-color: #27374dcc;
    border-radius: 13px;
  }
  
  .navigate-icon {
    position: relative;
    top: 5px;
    left: 9px;
    width: 23px;
    height: 23px;
    fill: #DDE6ED;
  }
  
  .link-title {
    color: #27374D;
    font-size: 24px;
    letter-spacing: 1.44px;
    margin-left: 120px;
    font-weight: 400;
  }
  
  .link-title:nth-of-type(1) {
    margin-top: 5%;
    margin-left: 20%;
    transition-delay: 200ms;
  }
  .link-title:nth-of-type(2) {
    margin-top: 2%;
    margin-left: 20%;
    transition-delay: 600ms;
  }
  
  .service-link {
    border-radius: 9px;
    background-color: rgba(82, 109, 130, 0.5);
    display: flex;
    margin-top: 25px;
    margin-left: 164px;
    padding: 8px 17px;
    align-items: stretch;
    gap: 11px;
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
    white-space: nowrap;
    letter-spacing: 1.44px;
  }

  .read-more-button:nth-of-type(1){
    margin-left: 20%;
    transition-delay: 400ms;
  }
  
  .read-more-button:nth-of-type(2) {
    margin-left: 20%;
    transition-delay: 800ms;
  }
  
  .link-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 27px;
    flex-shrink: 0;
  }
  
  .service-link:nth-of-type(2) .link-icon {
    width: 26px;
    border-radius: 50%;
    align-self: start;
  }
  
  /* Media Queries */
  @media (max-width: 991px) {
    .main-nav {
      max-width: 100%;
      padding-left: 20px;
    }
  
    .logo,
    .footer-logo {
      font-size: 40px;
    }
  
    .nav-menu {
      max-width: 100%;
      flex-wrap: wrap;
    }
  
    .department-link,
    .language-link {
      white-space: initial;
    }
  
    .services-content {
      max-width: 100%;
      padding: 88px 20px;
    }
  
    .services-container {
      max-width: 100%;
    }
  
    .services-heading {
      max-width: 100%;
      font-size: 40px;
    }
  
    .service-item {
      max-width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .service-item {
      max-width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .service-description {
      max-width: 100%;
    }
  
    .link-title {
      max-width: 100%;
      margin-top: 40px;
    }
  
    .service-link {
      margin-left: 10px;
      white-space: initial;
    }
  
    .main-footer {
      max-width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      flex-wrap: wrap;
    }
  
    .contact-item:nth-child(3) {
      white-space: initial;
    }
  
    .newsletter-form {
      white-space: initial;
    }
  
    .subscribe-button {
      white-space: initial;
    }
  }

  .service-a{
    text-decoration: none;
  }
  