.home .frame {
    width: 100%;
    height: 90vh;
    background-color: #EEF2F6;

    background-image: url("../Assets/Background Image.jpeg");
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
  }
  
  .home .lideta-sub-city {
    width: 40%;
    margin-top: 10%;
    margin-left: 5%;
    font-family: "Alfa Slab One";
    font-weight: 200;
    color: #DDE6ED;
    font-size: 50px;
    letter-spacing: 1.5px;
    line-height: normal;
  }