.home .news-section {
    position: absolute;
    width: 95%;
    height: 343px;
    top: 70%;
    left: 0;
    overflow: hidden;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2%;
    flex-wrap: nowrap;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  
  .home .news-section::-webkit-scrollbar {
    width: 0;
    display: none;
  }

  .home .latest-news-text {
    position: absolute;
    top: 68%;
    left: 5%;
    font-family: "Alfa Slab One";
    font-weight: 400;
    color: #526D82;
    font-size: 48px;
    letter-spacing: 2.88px;
    line-height: normal;
  }

  .home .news-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 85%;
    background-color: #526D82;
    box-shadow: 8px 8px 15px #00000040;
    border-radius: 35px;
    flex: 0 0 auto;
  }
  
  .news-card .news-image {
    width: 96%;
    height: 65%;
    margin-top: 0%;
    background-color: #b3c7d480;
    border-radius: 35px;
  }

  .news-card:nth-child(1) .news-image{
    background-image: url(../Assets/news1.jpeg);
    background-size: cover;
  }

  .news-card:nth-child(2) .news-image{
    background-image: url(../Assets/news2.jpeg);
    background-size: cover;
  }

  .news-card:nth-child(3) .news-image{
    background-image: url(../Assets/news3.jpeg);
    background-size: cover;
  }

  .news-card:nth-child(4) .news-image{
    background-image: url(../Assets/news4.jpeg);
    background-size: cover;
  }


  
  .home .news-date {
    position: relative;
    top: 10%;
    left: 5%;
    font-family: "Alfa Slab One";
    font-weight: 400;
    color: #dde6ed;
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: normal;
  }
  
  .home .news-description {
    margin-top: 3%;
    margin-left: 3%;
    font-family: "Roboto";
    font-weight: 400;
    color: #dde6ed;
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: normal;
  }
  
  .home .read-more-button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    width: 35%;
    margin-left: 50%;
    height: 12%;
    background-color: #9DB2BF;
    border: none;
    border-radius: 13px;
    cursor: pointer;
  }

  .home .read-more-button:active {
    scale: 0.95;
  }
  
  .home .readmore-text {
    font-family: "Roboto";
    font-weight: bold;
    color: #ffffff;
    font-size: .8rem;
    letter-spacing: 0.72px;
    line-height: normal;
  }
  
  .home .navigate-icon-container {
    width: 26px;
    height: 26px;
    background-color: #27374dcc;
    border-radius: 13px;
  }
  
  .home .navigate-icon {
    position: relative;
    top: 23%;
    left: 25%;
    width: 23px;
    height: 23px;
    fill: #DDE6ED;
  }

  .home .news-card:nth-child(1){
    transition-delay: 200ms;
  }

  .home .news-card:nth-child(2){
    transition-delay: 400ms;
  }

  .home .news-card:nth-child(3){
    transition-delay: 600ms;
  }

  .home .news-card:nth-child(4){
    transition-delay: 800ms;
  }

  