@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Alumni+Sans+Inline+One:ital@0;1&family=Gabarito:wght@400..900&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: #EEF2F6;
}
.home {
  width: 100%;
  background-color: #EEF2F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .bar{
  position: fixed;
  top: 0;
  width: 100vw;
  height: 3px;
  border-radius: 2px;
  background-color: #cccccc32;
  z-index: 2000;
  scale: 0 1;
  transform-origin: left;
  animation: progress-bar linear;
  animation-timeline: scroll();
}
@keyframes progress-bar {
  to{
    scale: 1 1;
  }
}
.hidden-slide-in{
  opacity: 0;
  transition: all .2s ease-in;
  transform: translateX(-50px);
  filter: blur(5px);
}
.hidden-slide-up{
  opacity: 0;
  transition: all .2s ease-in;
  transform: translateY(50px);
  filter: blur(5px);
}

.show{
  opacity: 1;
  transform: translateX(0px);
  filter: blur(0px);
}

.home .body {
  position: absolute;
  width: 100%;
  height: 2970px;
  top: 100vh;
  left: 0;
  background-color: #EEF2F6;
}
  
.body .organizational-framework{
  position: absolute;
  width: 100%;
  height: 15%;
  left: 0;
  top: 85%;

  display: flex;
  justify-content: center;
  align-items: end;
  gap: 2%;
} 

.home .organizational-framework-text{
  position: absolute;
  top: 0;
  left: 5%;
  font-family: "Alfa Slab One";
  font-weight: 400;
  color: #526D82;
  font-size: 3rem;
  letter-spacing: 1.5px;
  line-height: normal;
}

.organizational-framework .framework-card{
  width: 28%;
  height: 80%;
  border-radius: 20px;
  background-color: #526D82;
  box-shadow: 8px 8px 15px #00000040;
}

.framework-card .text{
  position: absolute;
  top: 10%;
  left: 5%;
  font-family: "Alfa Slab One";
  font-weight: 400;
  color: #fbfbfb;
  font-size: 2rem;
  letter-spacing: 1.5px;
}

.framework-card .description{
  position: relative;
  width: 90%;
  top: 80px;
  left: 5px;
  padding: 5%;
  color: #dde6ed;
  font-size: 1.2rem;
  font-family: "Roboto";
}

#mission-card{
  color: #dde6ed;
  font-family: "Roboto";
  transition-delay: 200ms;
}

#vision-card{
  color: #dde6ed;
  font-family: "Roboto";
  transition-delay: 400ms;
}

#values-card{
  color: #dde6ed;
  font-family: "Roboto";
  transition-delay: 600ms;
}


/* Team Leaders Section */

.home .team-leaders-section {
  position: absolute;
  width: 96%;
  height: 17%;
  top: 50%;
  left: 2%;

  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.home .team-leader-text {
  position: absolute;
  top: 5%;
  left: 2%;
  font-family: "Alfa Slab One";
  font-weight: 400;
  color: #526D82;
  font-size: 40px;
  letter-spacing: 2.88px;
  line-height: normal;
  transition-delay: 200ms;
}

  
.home .leader {
  width: 24%;
  height: 75%;
  margin-bottom: 3%;
  background-color: #526D82;
  border-radius: 35px;
  box-shadow: 8px 8px 15px #00000040;
  overflow: wrap;
}

#leader1{
  transition-delay: 400ms;
}

#leader2{
  transition-delay: 500ms;
}

#leader3{
  transition-delay: 600ms;
}

#leader4{
  transition-delay: 700ms;
}

.leader .name {
  top: 70%;
  left: 5%;
  font-size: clamp(12px , 2vw, 18px);
  letter-spacing: 1px;
  position: absolute;
  font-family: "Alfa Slab One";
  color: #f1f1f1;
  line-height: normal;
}

.leader .position {
  top: 80%;
  left: 5%;
  font-size: clamp(12px, 2vw, 16px);
  letter-spacing: 0.96px;
  position: absolute;
  font-family: "Impact-Regular", Helvetica;
  font-weight: 400;
  color: #dde6ed;
  line-height: normal;
}

.leader .leader-photo {
  position: absolute;
  width: 100%;
  height: 65%;
  top: 0;
  left: 0;
  background-color: #b2c7d4;
  border-radius: 35px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#leader1 .leader-photo{
  background-image: url("../Assets/leader1 photo.JPG");
}

#leader2 .leader-photo{
  background-image: url("../Assets/leader2 photo.JPG");
}

#leader3 .leader-photo{
  background-image: url("../Assets/leader3 photo.JPG");
}

#leader4 .leader-photo{
  background-image: url("../Assets/leader4 photo.JPG");
}

.home .glowing-cricle {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 10px;
  left: 665px;
  background-color: #dde6ed;
  border-radius: 11.5px;
  filter: blur(8.8px);
}


/* Coordinator Section */

.home .coordinator {
  position: relative;
  width: 60%;
  height: 20%;
  top: 25%;
  left: 15%;
  background-color: #526D82;
  border-radius: 38px;
  box-shadow: 8px 8px 15px #00000040;
}

.home .coordinator-text {
  position: absolute;
  top: 2%;
  left: 5%;
  font-family: "Alfa Slab One";
  font-weight: 400;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 2.88px;
  line-height: normal;
  transition-delay: 200ms;
}

.home .coordinator-photo {
  position: absolute;
  width: 90%;
  height: 400px;
  top: 25%;
  left: 5%;
  background-color: #b3c7d4;
  border-radius: 35px;

  background-image: url("../Assets/coordinator photo.JPG");
  background-size: cover;
  background-repeat: no-repeat;
}

.home .coordinator-name {
  position: absolute;
  top: 15%;
  left: 10%;
  font-family: "Alfa Slab One";
  font-weight: 400;
  color: rgba(238, 242, 246, 0.801);
  font-size: clamp(15px, 2vw, 24px);
  letter-spacing: 2.88px;
  line-height: normal;
  transition-delay: 400ms;
}

.home .line {
  height: 856px;
  top: 17px;
  left: 552px;
  position: absolute;
  width: 1px;
}

.home .glowing-cricle-2 {
  top: 5px;
  left: 542px;
  position: absolute;
  width: 23px;
  height: 23px;
  background-color: #dde6ed;
  border-radius: 11.5px;
  filter: blur(8.8px);
}

/* Head Office Section */

.home .head-office {
  position: absolute;
  width: 80%;
  height: 17%;
  top: 3%;
  margin-left: 10%;
  background-color: #526D82;
  border-radius: 38px;
  box-shadow: 8px 8px 15px #00000040;
  border: 1px solid #27374d17;
  backdrop-filter: blur(10px);
}

.head-office .head-office-text {
  position: absolute;
  width: 600px;
  top: 5%;
  left: 3%;
  font-size: clamp(30px, 2vw, 48px);
  letter-spacing: 2.88px;
  font-family: "Alfa Slab One";
  font-weight: 400;
  color: #ffffff;
  line-height: normal;
  transition-delay: 200ms;
  background-color: green;
}

.head-office .head-office-name {
  position: absolute;
  top: 20%;
  left: 4%;
  font-size: 20px;
  letter-spacing: 2.88px;
  font-family: "Alfa Slab One";
  font-weight: 400;
  color: #ffffff;
  line-height: normal;
  transition-delay: 400ms;
}

.head-office .head-office-message {
  width: 43%;
  height: 60%;
  top: 30%;
  left: 4%;
  font-size: clamp(10px, 2vw, 16px);
  letter-spacing: 1px;
  position: absolute;
  font-family: "Roboto";
  font-weight: 400;
  color: #DDE6ED;
  display: flex;
  justify-content: center;
  text-align: justify;
  line-height: normal;
  transition-delay: 600ms;
}

.head-office .head-office-photo-container {
  position: absolute;
  width: 50%;
  height: 80%;
  top: 10%;
  left: 48%;
  border-radius: 20px;
  background-image: url("../Assets/Head Office Photo.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.head-office .glowing-cricle-3 {
  top: 8px;
  left: 618px;
  position: absolute;
  width: 23px;
  height: 23px;
  background-color: #e5e9ecbd;
  border-radius: 12px;
  filter: blur(8.8px);
  z-index: -1000;
}

.head-office .glowing-line {
  position: absolute;
  width: .1px;
  height: 1450px;
  top: 20px;
  left: 628px;
  background-color: #dde6ed4c;
  z-index: -5000;
  filter: blur(2px);
}
